button{
  background-color: rgb(166, 255, 0);
  color: black;
  font-size: 26px;
  padding: 5px;
  border-radius: 7px;
}
button:hover{
  background-color: black;
  color: antiquewhite;
  cursor: pointer;
}
div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
p{
  font-size: 20px;
  font-weight: bold;
}
.darkmode{
  background-color: black;
  color: white;
}

.lightmode{
  background-color: white;
  color: black;
} 


.cont-div{
  width: 300px;
  height: 120px;
  background-color: aquamarine;
  margin: auto;
}